@charset "UTF-8";

@font-face {
  font-family: "acmicon";
  src:url("../font/acmicon.eot");
  src:url("../font/acmicon.eot?#iefix") format("embedded-opentype"),
    url("../font/acmicon.woff") format("woff"),
    url("../font/acmicon.ttf") format("truetype"),
    url("../font/acmicon.svg#acmicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="ai-"]:before,
[class*=" ai-"]:before {
  font-family: "acmicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ai-robot:before {
  content: "a";
}
.ai-logo:before {
  content: "b";
}
