@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,900,700,500);
@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);

body {
	
	/* background*/
	background-color: rgba(27, 27, 27, 0.9);

	/* font styles*/
	font-family: Roboto Condensed;
	font-weight: 400;
	color: white;
	font-size: 14px;

	padding-top: 60px;
}

/* LAN Party website style */
.lan-party {
	background: url('../img/lan-wp.png');
}

.lan-party-container {
	height: 500px;
	margin-top: -20px;
	display: block;
	padding: 40px;
	background-color: rgba(27,27,27, .9);
	border-bottom-left-radius: 30px; 
	border-bottom-right-radius: 30px;
}

.lan-party-info {
	font-family: Racing Sans One;
	padding: 10px;
	display: block;
}

h1, h2, h3, h4, h5 {
	font-family: Roboto Condensed;
	font-weight: 400;
}

.thin-header {
	font-weight: 100;
	font-size: 36px;
	font-family: Roboto;
}


.thin-text {
	font-weight: 100;
	font-size: 24px;
	font-family: Roboto;
}

.panel-button {
	padding: 25px;
    font-size: 20px;
}

.btn-link {
	color: white;	
	font-style: italic;
}

.btn-link:hover {
	color: #DEDEDE;
	text-decoration: underline;
}

a {
	color: rgb(29, 115, 65);
}
a:active {
	color: rgb(29, 115, 65);
}
a:hover, a:focus {
	color: rgb(29, 115, 65);
}


.link-btn {
	color:white;
}

.link-btn:active {
	color: white;
	text-decoration: none;
}
.link-btn:hover, a:focus {
	color: white;
	text-decoration: none;
}

td {
	/*text-align: center !important;*/
}

th {
	font-size: 20px;
	text-align: left; !important;
}

/***********************/
/* Bootstrap overrides */
/***********************/

.navbar-fixed-top > .navbar-inner {
	background-color: rgb(29, 29, 29);
	border-radius: 0px;
	border: none;
}

.container > .navbar-collapse {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-fixed-top > .navbar-inner > .container > .brand {
	text-shadow: none;
	color: white;
}

.navbar-inverse {
	border-bottom-style: solid;
	border-bottom-color: #000000;
	box-shadow: 0px 2px 6px rgba(0,0,0, 0.65);
	-moz-box-shadow: 0px 2px 6px rgba(0,0,0, 0.65);
	-webkit-box-shadow: 0px 2px 6px rgba(0,0,0, 0.65);
}
.navbar-fixed-top > .navbar-inner > .container > .brand:hover {
	color: rgb(29, 115, 65);
}

.navbar .nav > li > a, .navbar-right li:hover > ul > li > a {
	text-shadow: none;
	font-weight: 300;
}

.navbar > .container .navbar-brand {
	margin-left: 0px;
}

.navbar > .container .navbar-brand > a, .navbar-right li:hover > ul > li > a, .navbar-nav li:hover > ul > li > a {
	color: rgb(153, 153, 153) !important;
}

.navbar > .container .navbar-brand > a:hover, .navbar-right li:hover > ul > li > a:hover, .navbar-nav li:hover > ul > li > a:hover {
	color: white !important;
	text-decoration: none !important;
}

.navbar > .container .navbar-brand:hover {
	color: white;
	background-color: rgb(29, 29, 29);
}

.navbar .nav > li > a:hover, .nav-collapse .nav > li:hover, .navbar-right li:hover > ul > li > a:hover, .navbar-nav li:hover > ul > li > a:hover {
	color: white;
}

.navbar .nav > li:hover, .nav-collapse .nav > li:hover {
	background-color: rgb(29, 100, 65);
}

.navbar-fixed-top .nav > li:hover, .navbar .nav > li.active, .navbar-right li:hover > ul > li:hover, .navbar-right li:hover > ul > li:active, .navbar-nav li:hover > ul > li:hover, .navbar-nav li:hover > ul > li:active {
	background-color: rgb(29, 29, 29);
}

.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus, .navbar-right li:hover > ul > li > a:hover, .navbar-right li:hover > ul > li > a:focus, .navbar-nav li:hover > ul > li > a:hover, .navbar-nav li:hover > ul > li > a:focus {
    background-color: rgb(29, 29, 29);
}

.navbar-right li ul, .navbar-nav li ul{
	padding: 6px;
	width: 100%;
	list-style: none;
	display: none;
	position: absolute;
	background-color: rgb(35, 35, 35);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.navbar-right li:hover > ul, .navbar-nav li:hover > ul{
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	/*border-top: none !important;*/
	box-shadow: 0px 2px 6px rgba(0,0,0, 0.65);
	-moz-box-shadow: 0px 2px 6px rgba(0,0,0, 0.65);
	-webkit-box-shadow: 0px 2px 6px rgba(0,0,0, 0.65);
}

/* NAVBAR END */

.banner {
	background-color: rgb(29, 115, 65);
	margin-top: -20px;

}

.banner-heading {
	font-size: 36px;

	font-family: Roboto;
	font-weight: 600;
	font-style: italic;
	padding: 15px 15px 15px 15px;
	background-color: #185933;
	border: solid 1px #134929;
	text-align: center;
	margin: 15px;
	display: inline-block;
}

.jumbotron {
	background-color: rgb(29, 115, 65);
	margin-top: -10px;
}

label {
	cursor: auto;
}

/* Input fields */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control,
.uneditable-input {
	background-color: #1D1D1D;
	border-color: #1D1D1D;
	color: white;
	font-size: 14px;

}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {
  border-color: rgba(14, 129, 65, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);
}

.btn-inverse {
	background-color: #222222;
	font-size: 16px;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.btn-inverse:hover, .btn-inverse:focus {
	border-color: rgba(14, 129, 65, 0.8);
	outline: 0;
	color: white;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);

	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.btn-primary-disabled {
	cursor: default;
}

.btn-primary-disabled:hover {
	color: white;
}

.btn-primary, .btn-primary-disabled {
	background-color: rgb(29, 100, 65);
	border-color: rgb(29, 100, 65);
	-webkit-transition: background-color.2s;
	-moz-transition: background-color.2s;
	-o-transition: background-color.2s;
	transition: background-color.2s;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: rgb(29, 115, 65);
	border-color: rgb(29, 100, 65);
	-webkit-transition: background-color.2s;
	-moz-transition: background-color.2s;
	-o-transition: background-color.2s;
	transition: background-color.2s;
}

.btn-danger {
	background-color: #962624;
	border: none;
}

.btn-info {
	background: #13708C;
	border-color: #13708C;
	opacity: 1;
}

.btn-info:hover {
	background: #0C6DD5;
	border-color: #0C6DD5;
}

.well {
	background: #222222;
    border: none;
}

.danger {
	background-color: #701D1D;
}

.safe {
	background-color: #1D4B7A;
}

.breadcrumb {
	background-color: rgb(29,29,29);
}

.btn-navbar {
	background-color: rgb(29,29,29) !important;
}

/***************************/
/* Bootstrap overrides end */
/***************************/


/* Forum Sytles */
.forum-topic {
	margin-bottom: 2px;
	margin-top: 50px;
	padding: 20px;
	background-color: #185933;
	font-size: 20px;
}

.forum-reply-form {
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.forum-new-thread {
	margin-bottom: 2px;
	margin-top: 50px;
	background-color: rgb(29, 115, 65);
	padding: 23px;
	color: white;
	text-align: center;
	font-size: 16px;
}

.forum-reply-large {
	background-color: rgb(29, 29, 29);
	margin-bottom: 2px;
	margin-top: 2px;
	padding: 15px;
	color: white;
	text-align: center;
	
}

.forum-thread {
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: rgb(29, 29, 29);
	padding: 15px;
}

.forum-post {
	padding: 20px;
	background-color: rgb(29,29,29);
	margin-top: -5px;
	margin-bottom: 10px;
}

.post-space{
	min-height: 1px !important;
	height: 1px !important;
}

.forum-author {
	color: rgb(29, 115, 65);
	font-size: 14px;
	font-weight: bold;
	font-family: Roboto;
}

.forum-time {
	color: #888888;
	font-size: 12px;
}

div.article {
	padding: 10px;
	background-color: rgb(27,27,27);
	margin-bottom: 10px;
}

.block {
	display: block;
	padding: 10px;
	background-color: rgb(27,27,27);
	margin-bottom: 10px;
	opacity: .9;
}

.prettyprint {
	border-radius: 0px;
	border: none;
	box-shadow: none;
}

.error {
	color: rgb(194, 48, 48);
	font-size: 16px;
}

.text-error {
	color: red;
	font-style: italic;
}

.panel {
	margin: 10px;
}

.header-green {
	color: rgb(29, 115, 69);
}

.header-white {
	color: white;
}

.header-underlined {
	text-decoration: underline;
}

.sig-header {
	color: rgb(29, 115, 69);
	font-family: Roboto Condensed;
}

.medium-text {
	font-size: 18px;
}

.edit-user-role, .delete-user {
	cursor: pointer;
}

.modal-body, .modal-content {
	background-color: #313131; 
}

.modal-footer {
	background-color: #1D1D1D;
	border: none;
}	

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.logo {
	height: auto;
	width: auto;

	max-height: 108px;
	max-width: 324px;
}

.checkbox {
	margin-left: 5px;
}

.team-table td {
	border: none;
}

.link-bright {
	color: rgb(20, 120, 75);
}

.no-space [class*="span"] {
    margin-left: 0;
}

div > a {
	color:white;
}

div > a:hover {
	color:white;
	text-decoration: none;
}

div > a:focus {
	color:white;
	text-decoration: none;
}

.green-glow {
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.green-glow:hover, .green-glow:focus {
	border-color: rgba(14, 129, 65, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(26, 133, 80);

	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.user-form {
	padding: 50px;
	padding-top: 20px;
	margin-top: 60px;
	border: solid #222222 1px;
	border-radius: 10px;
	background-color: #222222;
}

.form-title {
	color: rgb(187, 187, 187);
	font-size: 14px;
	margin-bottom: 30px;
}

.control-label {
	font-weight: 300;
	font-size: 14px;
}
.remember-label {
	font-size: 14px;
	font-style: italic;
}

.error-label {
	display: block;
	font-weight: 300;
	font-size: 14px;
	padding: 8px;
	text-align: left;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.large-link  {
	background-color: #1B1B1B;
	text-align: center;
	font-size: 24px;
	padding: 35px;
	border: 10px solid #313131;
	border-radius: 10px;
	font-family: Roboto Condensed;
	box-shadow: 0px 0px 0px #114d1d;
}

.large-link > h2 {
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
	color: white;
	box-shadow: 
}

.large-link:hover > h2 {
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
	color: rgb(29, 115, 69);
}

.sig-btn {
	padding: 50px;
	font-size: 24px;
	border-radius: 30px;
	margin: 20px 20px 20px 20px;
}

#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 250px;
	height: 500px;
}

#login-modal > .modal-dialog > .modal-content, 
#login-modal > .modal-dialog >.modal-content > .modal-body,
.form-modal > .modal-dialog > .modal-content, 
.form-modal > .modal-dialog >.modal-content > .modal-body {
	background: #222222;
	border-radius: 20px;
}

#login-modal > .modal-dialog > .modal-content {
	padding: 25px;
}

.pagination > ul > li > a, .pagination > ul > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: rgb(29, 115, 65);
	text-decoration: none;
	background-color: rgb(29, 29, 29);
	margin-right: 2px;
}

.pagination > ul > li.active > span {
	background-color: rgb(29, 115, 65);
	color: white;
}

.pagination > ul {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination > ul > li {
	display: inline;
}

.submit-link {
	background-color: transparent;
	text-decoration: underline;
	border: none;
	color: rgb(29, 115, 65);
	cursor: pointer;
}

.cke_source {
	color: black;
}

.vs-md {
	margin-top: 30px;
	margin-bottom: 30px;
}

.fa-red {
	color: #CA4444;
}

.fa-green {
	color: #1E7E3E;
}

.fa-blue {
	color: #13708C;
}

.fa-yellow {
	color: #F1BB3C;
}

.spacing-top {
	margin-top: 10px;
}
