<h4 class="sig-header"> Welcome to the Programming Contests Special Interest Group! </h4>
<p>We plan on going to a lot more contests this season.</p>
<p>Contest dates haven't been announced yet so look out for them in the</p>
<p>Upcoming Events section.</p> <br>

<h4 class="sig-header"> Chairman:</h4>
<p>Siddartha Singh</p> <br>

<h4 class="sig-header"> General Information: </h4>
<p>There are many different kinds of programming contests that we go to.</p>
<p>These contests are a great way to practice algorithmic problem solving</p>
<p>as well as coding skills.</p> <br>

<h4 class="sig-header"> Membership:</h4>
<p>Just come and talk to our chairperson Siddartha Singh,</p>
<p>or Quinn Mchugh or Neil Giridharan for participation in the contests</p> <br>

<h4 class="sig-header"> Contests We've Gone Before:</h4>
<ul>
	<li>TechOlympics</li>
	<li>Miami High School Programming Contest</li> <br>
</ul>

<h4 class="sig-header"> Contests We Want to Do:</h4>
<ul>
	<li>USACO</li>
	<li>TopCoder</li>
	<li>Wright State</li>
	<li>Other ACM Contests</li>
</ul> <br>

<h4 class="sig-header"> How to Prepare:</h4>
<ul>
	<li>Easy: Do the past programming problems on ACM websites</li>
	<li>Medium: Do programming problems on Online Judges such as TopCoder,
	CodeChef, SPOJ, etc.</li>
	<li>Hard: Get a USACO account and do the training pages. These are the hardest
	problems with hundreds of problems spanning 6 chapters. These problems challenge the best high school 
	programmers in the world. </li>
</ul> <br>