body {
	padding-top: 50px;
}

textarea {
	resize: none;
}

.table {
	font-size: 20px;
	tbody {
		color: @gray-light;
	}
	tbody tr td {
		padding-left: 16px;
		padding-right: 16px;
	}
	thead tr td {
		font-weight: bold;
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}	
}

