
.thread {
	background: @color-fg;
	padding: 28px 25px 25px 25px;
	border-top: 3px solid @brand-primary;
}

.thread-title {
	font-size: 18px;
}

.label-user, .label-time, .label-replies {
	color: @gray-light;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

.thread-replies {
	font-style: normal;
}

.post {
	background: @color-fg;
	padding: 30px;
	font-size: 16px;
	margin-top: 2px;
}

.post-body {
	background: @color-fg;
	border: none;
	font-size: 18px;
	resize: none;
}

.post-thread-title {
	font-style: italic;
}
