.spacing-top {
	margin-top: 60px;
}

.spacing-top-sm {
	margin-top: 15px;
}

.error {
	color: @brand-danger;
	text-style: italic;
}

.btn-transparent {
	color: @brand-primary;
	background: transparent;	
	border: 3px solid @brand-primary;
	font-weight: bold;
	transition: background 200ms ease, color 200ms;
	&:hover {
		color: white;
		background: @brand-primary;
		border: 3px solid @brand-primary;
	}
}

.well {
	padding: 20px 40px;
	background: @color-fg;
	border: none;
	box-shadow: none;
}

.card {
	// &:extend(.well);
	border-top: 3px solid @brand-primary;
}

.modal-header {
	color: white;
}

.btn-huge {
	padding: 50px;
	background: @color-fg;
	font-size: 24px;
	font-weight: bold;
	border: none;
	text-align: center;
	margin-bottom: 30px;
	transition: background 200ms ease, color 200ms;
	&:hover {
		color: white;
		background: @brand-primary;
	}
}

.btn-huge-block {
	&:extend(.btn-huge);
	&:hover {
		&:extend(.btn-huge:hover);
	}
	width: 100%;
}