.navbar-nav > li > a, .navbar-brand {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
}

.navbar-nav > li.active {
	border-top: solid 6px @brand-primary;	
	a {
		padding-top: 14px;
	}
}
