
// Colors
@brand-primary:  #1D7341;
@brand-succcess: #1D7341;
@brand-danger:   #962624;

@color-bg: 	      rgba(27, 27, 27, 0.9);
@color-fg:        #222;
@color-fg-darker: #1D1D1D;

// Global
@body-bg:             @color-bg;
@text-color:          white;
@font-size-base:      16px;
@link-color:       	  @brand-primary;
@link-hover-color:    darken(@link-color, 5%);
@border-radius-base:  0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

// Well
@well-bg:     @color-fg;
@well-border: @well-bg;

// Type
@font-family-sans-serif: "Roboto Condensed";
@headings-font-weight:   300;

// Input
@input-bg:           @color-fg-darker;
@input-color:        @text-color;
@input-border:       @input-bg;
@input-border-focus: @brand-primary;

// Navbar
@navbar-default-color:                     #777;
@navbar-default-bg:                        @color-fg;
@navbar-default-border:                    @navbar-default-bg;
@navbar-default-link-color:                #777;
@navbar-default-link-hover-color:          white;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         white;
@navbar-default-link-active-bg:            @color-fg-darker;
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;

// Jumbotron
@jumbotron-bg:   @brand-primary;

// Paginator
@pagination-bg: @color-fg;
@pagination-border: @pagination-bg;
@pagination-hover-bg: @color-fg-darker;
@pagination-hover-border: @pagination-hover-bg;
@pagination-disabled-bg: @color-fg;
@pagination-disabled-border: @pagination-disabled-bg;

// Dropdown
@dropdown-bg:                    @color-fg-darker;
@dropdown-border:                @color-fg-darker;
@dropdown-fallback-border:       @color-fg-darker;
@dropdown-link-color:            @gray-light;
@dropdown-link-hover-color:      @text-color;
@dropdown-link-hover-bg:         @color-fg-darker;

// Forum
@post-padding: 30px;

// Modal
@modal-content-bg: @color-fg;
@modal-content-border-color: @modal-content-bg;
@modal-header-border-color: @modal-content-bg;