

@brand-primary:  #1D7341;
@brand-succcess: #1D7341;
@brand-info:     @color-blue;
@brand-danger:   #962624;
@color-red:      @brand-danger;
@color-blue:     #2C62A7;
@color-green:    @brand-primary;
@color-yellow:   #CCA62D;

@color-bg: 	      rgba(27, 27, 27, 0.9);
@color-fg:        #222;
@color-fg-darker: #1D1D1D;

// Global
@body-bg:             @color-bg;
@text-color:          white;
@link-color:       	  @brand-primary;
@link-hover-color:    darken(@link-color, 5%);
@border-radius-base:  0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

// Well
@well-bg:     @color-fg;
@well-border: @well-bg;

// Type ////////////////////////////////////////////////////
@font-family-sans-serif: "Roboto Condensed";
@headings-font-weight:   300;

// Font Size
@font-size-micro:    8px;
@font-size-smallest: 10px;
@font-size-smaller:  12px;
@font-size-small:    14px;
@font-size-base:     16px;
@font-size-large:    18px;
@font-size-larger:   24px;
@font-size-largest:  28px;
@font-size-jumbo:    36px;

// Font weight
@font-weight-bold:   600;

// Input
@input-bg:           @color-fg-darker;
@input-color:        @text-color;
@input-border:       @input-bg;
@input-border-focus: @brand-primary;

// Jumbotron
@jumbotron-bg:   @brand-primary;

// Paginator
@pagination-bg: @color-fg;
@pagination-border: @pagination-bg;
@pagination-hover-bg: @color-fg-darker;
@pagination-hover-border: @pagination-hover-bg;
@pagination-disabled-bg: @color-fg;
@pagination-disabled-border: @pagination-disabled-bg;

// Dropdown
@dropdown-bg:                    @color-fg-darker;
@dropdown-border:                @color-fg-darker;
@dropdown-fallback-border:       @color-fg-darker;
@dropdown-link-color:            @gray-light;
@dropdown-link-hover-color:      @text-color;
@dropdown-link-hover-bg:         @color-fg-darker;

// Forum
@post-padding: 30px;

// Modal
@modal-content-bg: @color-fg;
@modal-content-border-color: @modal-content-bg;
@modal-header-border-color: @modal-content-bg;

// Table
@table-cell-padding:            16px;
@table-condensed-cell-padding:  5px;
@table-bg:                      @color-fg;
@table-bg-accent:               @color-fg-darker;
@table-bg-hover:                @color-fg-darker;
@table-bg-active:               @table-bg-hover;
@table-border-color:            @color-fg;


// Padding
@padding-micro:    2px;
@padding-smallest: 6px;
@padding-smaller:  10px;
@padding-small:    12px;
@padding-base:     20px;
@padding-large:    25px;
@padding-larger:   30px;
@padding-largest:  40px;
@padding-jumbo:    60px;

// Margin
@margin-micro:    2px;
@margin-smallest: 6px;
@margin-smaller:  12px;
@margin-small:    14px;
@margin-base:     15px;
@margin-large:    20px;
@margin-larger:   25px;
@margin-largest:  40px;
@margin-jumbo:    60px;