
/***********************************
 * Forum-specific mixins *
 ***********************************/
.post-detail {
	color: @gray-light;
	.bold-italic();
}

/***********************************
 * Styles for a single thread view *
 ***********************************/
.thread {
	background: @color-fg;
	padding: @padding-larger;
	margin-bottom: @margin-micro;
	&:first-child {
		.primary-top-border(@padding-larger);
	}
}

.thread-title, .thread-replies {
	font-size: @font-size-largest;
	display: inline-block;
}

/***********************************
 * Styles for the thread list view *
 ***********************************/
.thread-list-item {
	.thread();
}

.thread-list-title {
	font-size: @font-size-large;
	.ellipsis();
}

.thread-list-user, thread-list-replies, .thread-list-time {
	.post-detail();
}

/***********************************
 * Styles for a post               *
 ***********************************/
.post {
	padding: @padding-larger;
	position: relative;
	background: @color-fg;
	margin-top: @margin-micro;
}

.post-user, .post-time {
	.post-detail();
}

.post-actions {
	.actions-container();
}

.action-delete-post {
	.action(@brand-danger);
}

.post-body {
	font-size: @font-size-large;
}

.input-post-body {
	.post-body();
	background: @color-fg;
}